/Users/juliushernandez/Documents/GitHub/z/data-engineering-practice/_coursera/power_of_stats/module_1_intro_to_stats/1_getting_started/3.[[:space:]]Evan,[[:space:]]Engage[[:space:]]and[[:space:]]connect.webm filter=lfs diff=lfs merge=lfs -text
