.idea
*.pyc
.DS_Store
.DS_Store
data/.DS_Store
db
datacamp/hypothesis_testing/~$stack_overflow.xlsx
datacamp/hypothesis_testing/stack_overflow.xlsx
ztm_pytorch_practice/data
.ipynb_checkpoints
*.webm
*.mp4
*.png
*.pptx