.idea
*.pyc
.DS_Store
.DS_Store
data/.DS_Store
db
datacamp/hypothesis_testing/~$stack_overflow.xlsx
datacamp/hypothesis_testing/stack_overflow.xlsx
ztm_pytorch_practice/data
.ipynb_checkpoints
*.webm
*.mp4
*.png
_coursera/4. power_of_stats/module_6_end_of_course_projects/2_automatidata_scenario/Activity-Exemplar, Course-4-Automatidata-Executive-Summary.pptx
_coursera/4. power_of_stats/module_6_end_of_course_projects/3_tiktok_scenario/docs/Activity-Template-Course-4-PACE-strategy-document.docx
_coursera/4. power_of_stats/module_6_end_of_course_projects/3_tiktok_scenario/docs/~$tivity-Template-Course-4-PACE-strategy-document.docx
_coursera/4. power_of_stats/module_6_end_of_course_projects/5_end-of-course_portfolio_project_wrap-up/Course-4-glossary.docx
_coursera/4. power_of_stats/module_6_end_of_course_projects/3_tiktok_scenario/docs/Activity-Templates_Executive-summaries.pptx
